__pycache__
lupon.egg-info
.vscode
instance
venv
_old
run.log

target/*
.settings/*
.project
.classpath
stefan ;-)
# More...
/target/
.idea/
*.iml
.metadata/*
log/*
nbactions.xml
/bin/
hibernate.cfg.xml
/nbproject/
src/main/resources/hibernate.cfg.xml