{% from "macros.html" import inputField, submitForm %}
{% extends "base.html" %}
{% block content %}
<div class="row">
    {% include "sidebar.html" %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        {% include "sub_nav.html" %}
        <h1>Dashbaord</h1>
        <form class="form-group" id="add_server" action="{{ url_for('domain') }}" method="POST">
            {{ domainform.csrf_token }}
            <div class="form-row">
                {{ inputField(domainform.name) }}
                {{ inputField(domainform.master) }}
                {{ dump|safe }}
            <button class="btn btn-block btn-secondary" type="submit">Add Domain</button>
        </form>
    </main>
</div>



{% endblock %}